*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 33.333%;
}
#riot_logo{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
}

.menu{
    width: 33.333%;
}
.sign-in{
    width: 33.333%;
}